@model DimDim.Models.Conta

@{
    ViewData["Title"] = "Edit";
}

<h1 style="color:white; text-align:center">Edit</h1>

<h4 style="color:white; text-align:center"> Conta</h4>
<hr />
<div class="row" style="background-color:white; border-radius:15px; padding: 27px">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Agencia" class="control-label"></label>
                <input asp-for="Agencia" class="form-control" />
                <span asp-validation-for="Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumConta" class="control-label"></label>
                <input asp-for="NumConta" class="form-control" />
                <span asp-validation-for="NumConta" class="text-danger"></span>
            </div>
            <div class="form-group pt-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
    <a asp-action="Index">Voltar</a>
</div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
