@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:rgba(134, 145, 174, 0.8); border-radius:15px" id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" >
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
</div>
  <div class="carousel-inner lass=w-100 p-3" >
    <div class="carousel-item active">
      <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Create" title="Crie seu usuario">
      <img src="./img/DimDim.png" class="d-block w-100" alt="Crie seu usuario">
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-1">Venha fazer parte!!</h1>
        <p class="display-6">Com a dim dim, seu dinheiro vale ouro!!!</p>
      </div>
    </div>
    <div class="carousel-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Contas" asp-action="Create" title="Crie sua conta">
            <img src="./img/Agree.png" class="d-block w-100" alt="Crie sua conta">
       </a>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="display-1">Crie sua conta</h1>
        <p class="display-6">Faça uma conta com a gente e seu dinheiro estará mais seguro do que no Gringotes </p>
      </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button> 
   
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>
<div class="flex-xl-row" style="justify-content:center" >
    <div class="card-group"  style="text-align:center">
      <div class="card col-5">
        <img src="/img/israel2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Israel</h5>
          <p class="card-text">RM 89347</p>
        </div>
      </div>
      <div class="card col-5">
        <img src="/img/Lusca.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lucas</h5>
          <p class="card-text">RM 88072</p>
         </div>
      </div>
      <div class="card col-5">
        <img src="/img/gabriel.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gabriel</h5>
          <p class="card-text">87564 </p>
        </div>
      </div>
      <div class="card col-5">
        <img src="/img/thiago.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Thiago</h5>
          <p class="card-text">86664</p>
        </div>
      </div>
      <div class="card col-5">
        <img src="/img/Raissa.png" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Raissa</h5>
          <p class="card-text">86818 </p>
        </div>
      </div>
    </div>
</div>